/* html { height: 100%},
body{ height: 100%},


#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
} */

/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#mapid,
body,
html {
  height: 100%;
}
